In [60]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

driver = webdriver.PhantomJS('phantomjs-2.1.1-linux-x86_64/bin/phantomjs')
driver.get("https://docs.google.com/spreadsheets/d/e/2PACX-1vSc_2y5N0I67wDU38DjDh35IZSIS30rQf7_NYZhtYYGU1jJYT6_kDx4YpF-qw0LSlGsBYP8pqM_a1Pd/pubhtml")

# waiting for the page to load - TODO: change
wait = WebDriverWait(driver, 10)

try:
    wait.until(EC.visibility_of_element_located((By.ID, "content")))
except Exception:
    driver.save_screenshot('screenshot.png')





data = driver.page_source
driver.close()

soup = BeautifulSoup(data, "html.parser")

/home/ankit/anaconda3/lib/python3.7/site-packages/selenium/webdriver/phantomjs/webdriver.py:49: UserWarning: Selenium support for PhantomJS has been deprecated, please use headless versions of Chrome or Firefox instead
  warnings.warn('Selenium support for PhantomJS has been deprecated, please use headless '

In [61]:
tbl = soup.find('table')
rows = tbl.findAll('tr')

In [62]:
data_full = []
for row in rows:
    #print (row,'\n')
    data_row = []
    cols = row.find_all('td')
    for col in cols:
        #print (col,'\n')
        try:
            data_row.append(col.contents[0])
        except:
            data_row.append(np.nan)
    data_full.append(data_row)

In [73]:
df = pd.DataFrame(data_full)

In [74]:
df = df.loc[~(df.isnull().sum(axis=1)==24)]

In [76]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [79]:
df.columns

Index([                           Patient number,
                            State Patient Number,
                                  Date Announced,
                                     Age Bracket,
                                          Gender,
                                   Detected City,
                               Detected District,
                                  Detected State,
                                  Current Status,
                                           Notes,
       Contracted from which Patient (Suspected),
                                     Nationality,
                              Status Change Date,
                                        Source_1,
                                        Source_2,
                                        Source_3,
                                    Backup Notes,
                                             nan,
                                             nan,
                                             nan,
                                             nan,
                                             nan,
                                             nan,
                                             nan],
      dtype='object', name=1)

In [88]:
df['Detected District'].value_counts(dropna=False)

NaN                                                                                                201
Kasaragod                                                                                           41
Bengaluru                                                                                           33
Hyderabad                                                                                           32
Pune                                                                                                24
Gurugram                                                                                            24
Ernakulam                                                                                           19
<div class="softmerge-inner" style="width: 157px; left: -1px;">Shaheed Bhagat Singh Nagar</div>     15
Kannur                                                                                              14
Ahmedabad                                                                                           14
Bhilwara                                                                                            12
Pathanamthitta                                                                                      12
Leh                                                                                                 11
Chennai                                                                                             11
Gautam Buddh Nagar                                                                                  11
Jaipur                                                                                              10
Mumbai                                                                                               9
Vadodara                                                                                             7
Agra                                                                                                 7
Chandigarh                                                                                           7
Delhi                                                                                                6
Gandhinagar                                                                                          6
Jabalpur                                                                                             5
Surat                                                                                                5
Jhunjhunu                                                                                            5
Kozhikode                                                                                            5
<div class="softmerge-inner" style="width: 157px; left: -1px;">Sahibzada Ajit Singh Nagar</div>      5
Malappuram                                                                                           5
Salem                                                                                                5
Lucknow                                                                                              4
                                                                                                  ...
Raipur                                                                                               1
Moradabad                                                                                            1
Guntur                                                                                               1
Pauri                                                                                                1
Kodagu                                                                                               1
Shivpuri                                                                                             1
Chitoor                                                                                              1
Tiruppur                                                                                             1
Mahe                                                                                                 1
Dharwad                                                                                              1
Dakshina Kannada                                                                                     1
Vishakhapatnam                                                                                       1
North Kolkata                                                                                        1
Jammu                                                                                                1
Baghpat                                                                                              1
Prakasam                                                                                             1
Ludhiana                                                                                             1
Rajnandgaon                                                                                          1
Aurangabad                                                                                           1
East Godavari                                                                                        1
Coimbatore                                                                                           1
North 24 Parganas                                                                                    1
Udupi                                                                                                1
Ratnagiri                                                                                            1
Aizawl                                                                                               1
Kutch                                                                                                1
East Delhi                                                                                           1
Palwal                                                                                               1
Madurai                                                                                              1
Gwalior                                                                                              1
Name: Detected District, Length: 112, dtype: int64

In [83]:
df['Notes'].value_counts()

Details awaited                                                                                                                                          87
Travelled from Dubai                                                                                                                                     28
Travelled from Dubai, UAE                                                                                                                                25
Details Awaited                                                                                                                                          24
Travelled from UK                                                                                                                                        23
Travelled from Italy                                                                                                                                     18
Travelled from Saudi Arabia                                                                                                                              10
Travelled from London                                                                                                                                     9
Indonesian                                                                                                                                                7
Travelled from Middle East                                                                                                                                7
Family members of P4                                                                                                                                      6
Travelled from Iran                                                                                                                                       5
Close contact of Patient (Patient Unknown, likely P182)                                                                                                   5
Staff of Private Hospital                                                                                                                                 5
Travelled from Dubai. UK Tourist                                                                                                                          5
No Travel History ( details awaited)                                                                                                                      4
Indonesian Tourist                                                                                                                                        4
Details awaited; MoHFW reported 26 on 21 Mar AM                                                                                                           4
Contact transmission, details awaited                                                                                                                     4
Travelled from Saudi Arabia, Details awaited                                                                                                              4
Contact Transmission,Details awaited                                                                                                                      4
First contacts or family members of the group of 40 who came back from Dubai earlier                                                                      4
Travelled from Germany                                                                                                                                    3
Relative of P142, junior resident at KGMU                                                                                                                 3
Travelled from Germany via Italy                                                                                                                          3
Travelled from Wuhan                                                                                                                                      3
Son of P182                                                                                                                                               3
Travelled from Dubai and Thailand(Family)                                                                                                                 3
Details awaited, (family)                                                                                                                                 3
Travelled from France                                                                                                                                     3
                                                                                                                                                         ..
Contact with P 80, Details awaited                                                                                                                        1
Close relative of  P380                                                                                                                                   1
Travelled from Mecca, Saudi Arabia along with Son(P285), via Hyderabad to Hindupur by train and to Gowribidanur by bus                                    1
Travelled from Saudi Arabia. She was suffering from many complications.                                                                                   1
Travelled from Egypt, Details awaited                                                                                                                     1
Travelled from Malaysia                                                                                                                                   1
Travelled from Dubai.                                                                                                                                     1
Travelled from Dubai on 1 March, Husband of P45                                                                                                           1
Travelled from Dubai AI 938, Taken to hospital directly from the airport.                                                                                 1
<div class="softmerge-inner" style="width: 508px; left: -1px;">Tibetan refugee,died at a hospital in Tanda. Travelled from the US on 15.03.2020</div>     1
Travelled from New Zealand                                                                                                                                1
Travelled from Spain AI136                                                                                                                                1
Travel History to Spain and arrived in Bangalore via Dubai on Mar 14                                                                                      1
Brother of P171                                                                                                                                           1
Travelled from US on March 7                                                                                                                              1
Travelled from Ireland                                                                                                                                    1
Travelled from UK and Dubai                                                                                                                               1
Travelled from Italy, 2nd evacuee from Italy in ITBP Chhawla Camp                                                                                         1
<div class="softmerge-inner" style="width: 410px; left: -1px;">Infected by the Doctor who was tested positive a few days back</div>                       1
Daughter in Law of P182                                                                                                                                   1
In contact with P182                                                                                                                                      1
Grand son of P182                                                                                                                                         1
No foreign travel. Attended meeting at Delhi Nizamuddin mosque from 14.03.2020 and returned to Vijayawada by train on 19.03.2020.                         1
Travelled from Dubai via Goa                                                                                                                              1
From the state of Kerala. With a Travel History to Saudi Arabia and Arrived in Mangaluru. Date of arrival is not known.                                   1
Travelled from California via Singapore to Chennai Airport on 20.03.2020                                                                                  1
Travelled from France, Sector 100;                                                                                                                        1
Wife of P295                                                                                                                                              1
Travel History to Athens and London and arrived in Bangalore on Mar 18.                                                                                   1
Mother of P171                                                                                                                                            1
Name: Notes, Length: 352, dtype: int64

In [86]:
df['Nationality'].value_counts(dropna=False)

India                                                                                   349
NaN                                                                                     321
Italy                                                                                    18
Indonesia                                                                                14
<div class="softmerge-inner" style="width: 99px; left: -3px;">United Kingdom</div>        6
Thailand                                                                                  2
Phillipines                                                                               2
<div class="softmerge-inner" style="width: 106px; left: -10px;">United Kingdom</div>      1
Canada                                                                                    1
Name: Nationality, dtype: int64

In [85]:
df.shape

(714, 24)

In [87]:
df['Notes'].str.contains('Travel').value_counts(dropna=False)

True     378
False    293
NaN       43
Name: Notes, dtype: int64